<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed|Playfair+Display&effect=anaglyph" rel="stylesheet">
  </head>
  <body>
    <div class='container-fluid text-center'>
          <!-- <nav class='navbar fixed-top navbar-light' role='navigation' style='padding-bottom:100px;'>
            <div class='container-fluid'>
              <ul class='nav navbar-nav'>
                <li class='active'><a href='/'>Overview<span class='sr-only'>(current)</span></a></li>
                <li><a href='/scanning'>µCT Scanning</a></li>
                <li><a href='/dicect'>Contrast-staining</a></li>
              </ul>
            </div>
          </nav> -->
        <h1 class='font-effect-anaglyph' style='padding-bottom: 100px'><%= title %></h1>
        <h2>This is an Argentine Black and White Tegu <em>(Salvator merianae)</em></h2>
        <img src='/images/tegu.jpg'>
    </div>
  </body>
</html>
