body {
  padding: 50px;
  font: 14px 'Open Sans', Helvetica, Arial, sans-serif;
  text-align: center;
}

h1 {
  font: 64px 'Playfair Display', serif;
  font-weight: 900;
}

h2 {
  font: 14px 'Open Sans', sans-serif;
  font-weight: 600;
}

a {
  color: rgb(53,190,222);
}

.navbar a:hover {
  color: rgb(206,41,49);
  background-color: #fff !important;

}

.navbar a {
  font: 12px 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.navbar-nav {
   position: absolute;
   left: 50%;
   transform: translatex(-50%);
}

/* for scrollmagic */


.cnc {
  margin: auto;
  padding: 0;
  width: 900px;
  height: 900px;
  background:  url('/images/teguspin.jpg') no-repeat 0 0%;
  background-size: auto 100%;
}
